@media (max-width: 800px) {
  h1 {
    width: 100%;
  }
  #callToAction {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 40px;
  margin: 20px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 100vh;
  width: 100vw;
}
/* Nav Styles */

/* Nav Styles */
#hero {
  width: 100%;
  height: 30vh;
}
#whyUs {
  width: 80%;
}
#whyUs h2 {
  font-size: 70px;
  margin: 20px 0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background-color: #f5f5f5;
  padding: 0 5rem;
}
#main_content {
  width: 60%;
}
#start_play_button {
  background-color: #4d724d;
  width: 10rem;
  height: 3rem;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  border-radius:  25px;
}
aside {
  width: 40%;
  background-color: #f8fef7;
  border-radius: 20% ;
  padding-left: 10%;
}
.extra_content_mobile {
  display: none;
}
#copyright {
  font-family: "Lobster", cursive;
  font-size: 10px;
  text-align: start;
  margin: 10px 0;
}
