/* 
Background : #f5f5f5
Call to action : #8db48e
main text : #4d724d
 */
@import "tailwindcss";
@media (max-width: 800px) {
  .extra_content {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .extra_content_mobile {
    display: flex;
    width: 100%;
    height: 30%;
    background-color: lightgray;
  }
}
.start_play {
  background-color: #4d724d;
  width: 9rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
}
.start_play a {
  color: white;
}
.rules_container p {
  font-size: 20px;
  margin: 20px 0;
}
nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 5rem;
  color: black;
  background-color: #f5f5f5;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  list-style-type: none;
}
.nav_item {
  color: black;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}
.rules_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  scroll-snap-align: start;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.rules_item_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}
.hand_rankings li {
  margin-bottom: 1rem; /* Adds spacing between list items */
  line-height: 1.5; /* Improves readability by increasing line height */
}
.rules_reg {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 5rem;
}
.table_container{
  height: 100vh;
  padding: 2rem;
}
.winner_model {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 30rem;
}
.card{
  width: 7rem;
}
.player_info{
  font-size: 18px;
  margin-right: 10px;
}
.player_info_value{
  font-size: 18px;

}
.player_name{
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}
#bet_modal{
  padding-bottom: 3rem;
}
.action-button {
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  background-color: #4d724d;
}

